* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f5faff;
}

h1 {
    text-align: center;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 8vw;
    color: #03041a;
}

h2 {
    text-align: center;
    padding-bottom: 3%;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    color: #4040d5;
}

@media (min-width: 600px) {
    h1 {
        padding: 1%;
        font-size: 5vw;
    }
    h2 {
        font-size: 2vw;
    }
    
}

/* nav principal */
header{
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: linear-gradient(3deg, #4040d5 35%, #00d4ff 100%);
    }

    img.logo {
        width: 150px;
    }

header nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

header nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f5faff;
    text-decoration: none;
    transition: all 0.3 ease 0s;
}

header nav ul li a:hover{
    color: #5fd2f5;
}

/* secondary nav */

section.secondaryMenu{
    display: flex;
    margin: 3%;
    background-color: #4040d5;
    align-items: center;
    border-radius: 10px;
}

@media (min-width: 800px){
    section.secondaryMenu {
        height: 400px;
    }
    div.productosRecomend{
        height: 400px;
    }
    div.productosRecomend img {
        height: 400px;
    }
    section.secondaryMenu nav.menu ul li a {
        font-size: 3vw;
    }
    div.sliderAuto ul{
        width: 400px;
    }
}


section nav.menu ul li {
    display: block;
    margin: 20px;
    margin-bottom: 20%;
    font-size: 25px;
}

section nav.menu ul li a {
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    background-color: #f5faff;
    padding: 8px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

section nav.menu ul li a:hover {
background-color: #5fd2f5;
}

img.secret {
    margin: 100px;
    width: 200px;
}

img.petImg {
    margin: 100px;
    width: 200px;
}

@media (max-width: 1000px){
    img.secret {
        display: none;
    }
    div.productosRecomend img {
        width: 100%;
    }
}

/* slider */

div.sliderAuto {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

div.sliderAuto ul {
    padding: 0;
    display: flex;
    width: 400%;
    height: 50%;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}

div.sliderAuto li{
    width: 100%;
    list-style: none;
}

div.sliderAuto img {
    width: 100%;
}

div.gmaps {
    overflow: scroll;
    display: flex;
    background-color: #03041a;
    margin: 2%;
    justify-content: space-between;
    align-items: center;
}

div.gmaps iframe {
    width: 80%;
    padding: 2%;
}

div.gmaps h2 {
    padding: 5px;
}

div.gmaps p {
    color: white;
}

/* mejores vendidos */

div.productosRecomend {
    text-align: center;
    margin: 3%;
    background-color: #68a5ff;
    align-items: center;
    border-radius: 10px;
}

div.productosRecomend img {
    padding: 10px;
}

div.sobreNosotros {
    text-align: center;
    margin: 3%;
    background-color: #68a5ff;
    align-items: center;
    border-radius: 10px;
}

div.sobreNosotros p {
    color: #f5faff;
}

div.sobreNosotros img{
    width: 60%;
    padding: 10px;
}

form {
    width: 90%;
    background-color: #f5faff;
    margin: 10px;
}

div.formRadio label {
    display: block;
}

div.formInfo input {
    display: block;
    margin: 10px;
}

#problema {
    width: 90%;
    height: 200px;
}

div.tienda {
    text-align: center;
}

#ofertas {
    font-size: 4vw;
    color: #03041a;
}

div.tienda {color: #03041a}

div.recommended {
    margin: 3%;
    background-color: #68a5ff;
    align-items: center;
    border-radius: 10px;
    color: #f5faff;
}

h5 {
    text-align: center;
}

footer {
    padding-top: 5px;
    text-align: center;
    background-color: #4040d5;
    color:#f5faff;
}